html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0; /* нулевая граница */
  padding: 0; /* нулевые отступы */
  border: 0; /* больше всего для картинок в IE6 */
  outline: 0; /* точечная граница вокруг ссылок в Firefox */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none; /* маркеры без кружочков */
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
:focus {
  outline: 0; /* Firefox выделяет рамкой из точек все ссылки при нажатии */
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse; /* cellspacing="0" */
  border-spacing: 0;
}

/* ======================================== */

.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
	position: relative;
	padding: 0px 10px;
	background-color: #439b82;
}

.buttons {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttonAdd,
.buttonCount,
.buttonClear {
  padding: 13px 24px;
	font-size: 1.5em;
	background: hwb(144deg 23% 3% / 35%);
	border-radius: 15px;
}

.basket {
	width: 100%;
	flex: 1 1 auto;
	height: 50%;
	margin: 0 20px 0 0;
	border-radius: 25px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px 20px;
	background-color: #ffffff8e;
}


.products {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100%;
	background-color: grey;
}
.products__items {
	display: flex;
	justify-content: space-between;
}
.products__item {
	border: 1px solid #000;
	height: 100px;
	width: 250px;
	border-radius: 15px;
	padding: 10px 20px;
}
.products__title {
}
.products__text {
}

.close {
}

.calculate {
	display: none;
	background-color: red;
	width: 70%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.products__active {
	background-color: yellow;
}