html,
body,
div,
span {
  margin: 0; /* нулевая граница */
  padding: 0; /* нулевые отступы */
  border: 0; /* больше всего для картинок в IE6 */
  outline: 0; /* точечная граница вокруг ссылок в Firefox */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}

/* ======================================== */

.products__page{
	height: 100vh;
	background: grey;
	text-align: center;
}

.wrapper {
	display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0px 10px;
  background-color: #439b82;
}

.buttons {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket__button,
.control__button {
  padding: 13px 24px;
  font-size: 1.5em;
  background: hwb(144deg 23% 3% / 35%);
  border-radius: 15px;
  cursor: pointer;
}

.basket {
  width: 100%;
  flex: 1 1 auto;
  height: 50%;
  margin: 0 20px 0 0;
  border-radius: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 20px;
  background-color: #ffffff8e;
}
.control__button {
	background-color: skyblue;
}

.product__cards {
  display: flex;
  justify-content: space-between;
}
.product {
  border: 1px solid #000;
  height: 100px;
  width: 250px;
  border-radius: 15px;
  padding: 10px 20px;
}

.product__active {
  background-color: yellow;
  position: relative;
}

.open__products,
.close__products,
.add__products,
.clear__products {
  padding: 13px 24px;
  font-size: 1.5em;
  background: skyblue;
  border-radius: 15px;
  cursor: pointer;
}

.basket__page {
	background-color: rgb(189 189 189);
	height: 50%;
	width: 100%;
	border-radius: 50px;
	text-align: center;
}